.header {
  &-form-controll {
    border: 1px solid #ccc;
    width: 100%;
    height: 35px;
    border-radius: 8px 0px 0 8px;
    outline: none;
    padding-left: 16px;
  }
  &-avatar {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
  }
  &-header-menu {
    &-item {
      font-size: 20px;
    }
  }
}
label.icon-search {
  height: 35px;
  line-height: 35px;
  width: 45px;
  border: 1px solid #ccc;
  border-left: 0;
  border-radius: 0 8px 8px 0;
  cursor: pointer;
}
