.payment {
  &-title {
    font-weight: 700;
    font-size: 25px;
    margin-bottom: 30px;
    font-family: "Playfair Display", serif;
    color: var(--dark);
  }

  &-product {
    background-color: var(--white);
    color: var(--dark);
    padding: 15px;
    font-family: "Playfair Display", serif;
    font-weight: 600;
    text-transform: capitalize;
    border-radius: 10px;

    &-top {
      border-bottom: 1px solid var(--black);
    }

    &-row {
      vertical-align: middle;
    }
  }

  &-pay {
    font-family: 'Poppins', sans-serif;
    padding: 15px;
    text-transform: capitalize;
    border-radius: 10px;

    &-top,
    &-bottom {
      background-color: var(--white);
      padding: 15px;
      text-transform: capitalize;
      border-radius: 10px;
    }

    &-tilte {
      color: var(--dark-gray);
      font-weight: normal;
      margin: 0px;
      font-size: 1.17em;
    }

    &-name,
    &-phone {
      height: 22px;
      text-overflow: ellipsis;
    }

    &-address {
      color: var(--dark-gray);
      font-weight: normal;
    }

    &-provisional-text,
    &-total-money-text {
      font-weight: 300;
      color: var(--dark-gray);
      display: inline-block;
    }

    &-total-money-number {
      color: var(--dark-red);
      font-size: 22px;
      font-weight: 400;
      text-align: right;
    }
    &-purchase {
      color: var(--white);
      padding: 13px 10px;
      text-align: center;
      border-radius: 4px;
      border: none;
      width: 100%;
      display: block;
      cursor: pointer;
      border-radius: 10px !important;
      margin: 15px 0px 0px;
  }
  }
}