.quantity {
  &-reduce,
  &-increase {
    width: 35px;
    height: 35px;
    color: var(--white);
    background-color: var(--khaki);
    text-align: center;
    cursor: pointer;
    margin-bottom: 0;
    vertical-align: middle;
    -webkit-transition: 0.5s all ease;
    transition: 0.5s all ease;
    border-radius: 10px;
    top: 0;
    padding: 0;
    &:hover{
      background-color: var(--pale-yellow);
    }
  }

  &-bulk {
    height: 25px;
    width: 50px;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    border: none;
    outline: none;
    color: #ffbe00;
    display: inline-block;
    vertical-align: middle;
    margin-left: -4px;
    margin-right: -4px;

  }
}