th {
    font-size: 14px !important;
    background-color: #eeeeee;
    color: #000;
}

td {
    vertical-align: middle !important;
}

.body {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 17px;
    margin-bottom: 15px;
    color: var(--dark);
}

.btnContent.btn-footer.btn-footer {
    font-size: 11px;
    border-radius: 8px;
    margin: 0;
}