.subscribe-item-send {
  border-radius: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 0px 20px 0px #dddddd5c;
  background-color: var(--white);
}

.subscribe-item-send input {
  border: none;
  outline: none;
  font-size: 1.7rem;
  border-bottom-left-radius: 30px;
  border-top-left-radius: 30px;
  padding: 20px 0 20px 16px;
  flex: 1;
}
