.form-input {
    border: none;
    border-bottom: 1px solid #000 !important;
}

.form-fogot {
    text-decoration: none;
    cursor: pointer;
}

.form-register-link {
    text-decoration: none;
    cursor: pointer;
}

[type='text'] {
    &:focus {
        &:focus {
            border: 1px solid #ccc;
            background-color: transparent !important;
            box-shadow: none;
        }
    }
}

[type='password'] {
    &:focus {
        border: 1px solid #ccc;
        background-color: transparent !important;
        box-shadow: none;
    }
}

.slide-fade-enter-active {
    transition: all 0.5s ease-out;
}

.slide-fade-leave-active {
    transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-enter-from {
    transform: translateX(20px);
    opacity: 0;
}

.slide-fade-leave-to {
    transform: translateX(20px);
    opacity: 0;
}

.form-login-link {
    text-decoration: none;
    cursor: pointer;
}