.collections-list {
  margin-bottom: 30px;
  -webkit-box-shadow: 0px 0px 20px 0px #dddddd82;
  box-shadow: 0px 0px 20px 0px #dddddd82;
  border-radius: 10px 10px 0px 0px;
  overflow: hidden;
}

.collections-list-img {
  position: relative;
}

.collections-list-price {
  color: var(--p-m-color);
}

.collections-list-number input {
  height: 25px;
  width: 50px;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  border: 0;
  color: #ffbe00;
  display: inline-block;
  vertical-align: middle;
  margin-left: -4px;
  margin-right: -4px;
}

.collections-list:hover .collections-list-start {
  bottom: 0;
  opacity: 1;
  visibility: visible;
}

.collections-list:hover .collection-list--add-cart {
  opacity: 1;
  visibility: visible;
}

.collections-list-start {
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  max-width: 128px;
  text-align: center;
  padding: 18px 15px 8px 15px;
  background-color: #fff;
  border-radius: 8px 8px 0 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s ease-in-out;
}

.collections-list-start li {
  color: var(--pale-yellow);
  font-size: 1.4rem;
  margin-right: 2px;
  display: block;
}

.collection-list--add-cart {
  display: inline-block;
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #fff;
  padding: 10px;
  border-radius: 4px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}

.collection-list--add-cart a {
  text-decoration: none;
  color: var(--pale-yellow);
}

.collection-list--add-cart:hover {
  background-color: var(--dark);
}

.collection-list--add-cart:hover a {
  color: var(--white);
}

.collection-list--add-cart a {
  font-size: 1.6rem;
  transition: all 0.4s ease-in-out;
}

.collection-list--add-cart a i {
  margin-right: 10px;
  color: var(--pale-yellow);
}
.collections-more a {
  transition: all 0.3s ease-in-out;
  line-height: 4rem;
  border-bottom: 1px solid var(--dark);
  color: #000;
}

.collections-more a:hover {
  color: var(--pale-yellow);
  border-bottom: 1px solid var(--pale-yellow);
}
