.services {
  margin: 0 auto;
  text-align: center;
}

.services-list:nth-child(2) {
  background-color: var(--pale-yellow);
  color: var(--white);
}

.services-list:nth-child(2) .active {
  color: var(--white);
}

.services-description {
  max-width: 580px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

.services-list a {
  text-decoration: none;
}

.services-list a h3 {
  color: var(--dark);
}

.services-list:hover {
  background-color: var(--pale-yellow);
  color: var(--white);
}

.services-list:hover a h3,
.services-list:hover a p {
  color: var(--white);
}
