.vue-flow {
  min-height: calc(100vh - 60px - 60px);
  &__controls {
    margin-bottom: 50px;
  }

  &__node-default {
    background: #000;
  }
}

.flex-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.selectBox {
  margin-left: 20px;
}